{% extends "base.html" %}
{% block title1 %}
More
{% endblock title1 %}

{% block bigHeader %}
<div style="text-align: center;">
    <div style="display: flex; align-items: center; justify-content: center;">
        <iframe src="https://lottie.host/embed/b491f4bb-c4d2-4109-adc0-a80456487364/YJuu8Rlfik.json" style="width: 100px; height: 90px; border: none; outline: none;"></iframe>
        <span style="margin-left: 10px;">Some of my other projects</span>
    </div>
</div>
{% endblock bigHeader %}
{% block title2 %}{% endblock title2 %}
{% block section1 %}
{% block aboutMe %}
<div class="card bg-dark text-white" style="width: 18rem;">
    <img src="/static/5.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">SK AI Voice App</h5>
        <p class="card-text">Listen to your favourite songs in your favourite singer's voice</p>
        <a href="https://play.google.com/store/apps/details?id=com.skaivoice" class="btn btn-primary" target="_blank">PlayStore Link</a>
    </div>
</div>
<div class="card bg-dark text-white" style="width: 18rem;">
    <img src="/static/2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">AnimeGPT App</h5>
        <p class="card-text">Talk to your favourite Anime Characters for free now !</p>
        <a href="https://play.google.com/store/apps/details?id=com.animegpt" class="btn btn-primary" target="_blank">PlayStore Link</a>
    </div>
</div>
<div class="card bg-dark text-white" style="width: 18rem;">
    <img src="/static/3.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Shakalaka App</h5>
        <p class="card-text">Turn your imagination into reality by a simple sketch</p>
        <a href="https://play.google.com/store/apps/details?id=com.shakalaka" class="btn btn-primary" target="_blank">PlayStore Link</a>
    </div>
</div>

{% endblock aboutMe %}
{% endblock section1 %}
